# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?  
.env
CLAUDE.md
.windsurfrules


Raven CRM
Plataforma de Gestión de Incubación y Escalamiento Comercial
Soy una Startup
Soy una Incubadora
Gestiona tu proceso de incubación y escalamiento con herramientas especializadas.
Supervisa y acompaña tu portafolio de startups con análisis consolidados.
Ingresar como Startup
Ingresar como Incubadora
¿No tienes cuenta?
Regístrate aquí