/* NOTE this might be unnecessary, parent App already has this */
.main-app-container {
    display: flex;
    /* Comment this if you want to use Sidebar.tsx */
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-secondary);
    padding-top: 70px; /* Match navbar height */
}

@media (max-width: 768px) {
    .main-app-container {
        position: relative;
    }
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 70px); /* Subtract navbar height */
    /* This is if you want to set Sidebar.css to position fixed */
    /* width: calc(100% - 250px); */
    /* margin-left: 250px; */
    width: 100%;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .main-content-wrapper {
        margin-left: 0;
        width: 100%;
    }
}