.user-avatar-main-cont {
    display: flex;
    color: var(--text-primary);
    gap: 10px;
    width: 100%;
    background-color: var(--background-secondary);
    padding: 0.8rem 1rem;
    border-radius: 10px;
}

.user-avatar-img-cont {
    width: 50px;
    height: 50px;
}

.user-avatar-img {
    height: 100%;
    min-width: 100%;
    width: 100%;
    object-fit: contain;
}

.user-avatar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-secondary);
    color: var(--text-inverse);
    font-weight: 600;
    border-radius: 100%;
}

.user-avatar-info-box {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}