.pipeline-container {
    padding: 1.5rem;
}

.pipeline-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
}

.pipeline-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #000000;
}

.pipeline-empty-state {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #6b7280;
    /* text-gray-500 */
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    /* border-gray-200 */
    height: 20rem;
    margin: 1rem;
}